@page
@model ConfirmEmailModel
@{
    // Defect to be corrected 2 (Confirm email)
    ViewData["Title"] = "Confirmin email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />