@page
@model LogoutModel
@{
    // Defect to be corrected 7 (Log out)
    ViewData["Title"] = "Logs out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out.</p>
</header>