@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    // Defect to be corrected 12 (Welcome To NSNCareers)
}

<div class="text-center">
    <h1 class="display-4">Welcome To NSNCareers</h1>
</div>
