@page
@model IndexModel
@{
    ViewData["Title"] = "Home pages";
    // Defect to be corrected 12 (Welcome To NSNCareers)
}

<div class="text-center">
    <h1 class="display-4">Welcome To NSNCaraers</h1>
</div>

<div class="text-center">
    <img src="Image/Scrum2.png" alt="Happy Learning" style="width:700px;height:500px;" />
</div>
